
.catContainer {
    height: 100px;
    overflow: hidden;
    background-color: white;
    text-align: left;
    max-width: 1250px;
    flex: 25%;
    min-width: 300px;
    z-index: 10;
    box-sizing: content-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.catContainer > p {
    margin: 0;
    background-color: #3c6f66;
    font-size: 11px;
    letter-spacing: 2px;
    padding-left: 10px;
    padding: 8px;
    color: white;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.73);
    text-transform: uppercase;
}


.sourceListContainer {
    width: 100%;
    height: 88%;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    font-size: 1em;
    z-index: 10;
}
.sourceListContainer::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


.business {
    background-image: url('../../assets/business.jpg');
}

.entertainment {
    background-image: url('../../assets/entertainment.jpg');
    background-position: top center;
}

.general {
    background-image: url('../../assets/general.jpg');
}

.health {
    background-image: url('../../assets/health.jpg');
}

.science {
    background-image: url('../../assets/science.jpg');
}

.sports {
    background-image: url('../../assets/sports.jpg');
    background-position: center 34%;
}

.technology {
    background-image: url('../../assets/technology.jpg');
}