header {
    position: sticky;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-flow: row wrap;
    transition: background-color 100ms ease-in;
    margin-bottom: 10px;
}

header:hover {
    background-color: black;
}