header {
    position: sticky;
    box-sizing: border-box;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    padding: 0 25px;
    align-items: center;
    z-index: 1;
    flex-flow: row wrap;
    will-change: background-color;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.logo {
    color: rgb(130, 193, 183);
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3em;
    font-weight: 200;
}

.beta {
    font-size: inherit;
    color: white;
}

@media (min-width: 1024px) {
    header:hover {
        background-color: black;
    }
}