
.checkboxInputDiv {
    position: relative;
    will-change: background-color;
    -webkit-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}


.checkboxInputActive {
    background-color: #004235e0;
    color: white;
}
.checkbox {
    position: absolute;
    opacity: 0;
    bottom: 0;
    z-index: -1;
}

.checkboxInputDiv label {
    display: flex;
    width: 100%;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    height: 100%;
    cursor: pointer;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: flex-start;
    padding-left: 10px;
}

@media (min-width: 1024px) {
    .checkboxInputDiv:hover {
        background-color: rgba(0, 0, 0, 0.35);
    }
}