.data {
    display: flex;
    flex-flow: column wrap;
    font-size: 0.7em;
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
}

.scrapedContent {
    border: 1px solid #e2e2e2;
    border-radius: 13px;
    width: 100%;
    margin: 30px 0px;
    overflow: hidden;
    text-align: left;
    font-size: 1.5em;
    font-weight: lighter;
}

.data .datatext {
    font-size: 1em;
}

a {
    color: #bb9602
}

img {
    width: 100%;
    height: auto;
}

.contentContainer {
    width: 97%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.spinner {
    width: 60px !important;
    display: block !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 710px) {
    .scrapedContent {
        border: none;
    }
}

@media (max-width: 1024px) {
    .contentContainer p {
        font-size: 0.75em;
    }
}

.spinnerContainer {
    width: 100%;
    height: 150px;
    position: relative;
}