.data {
    display: flex;
    flex-flow: column wrap;
    font-size: 0.7em;
    border: 1px solid white;
    padding: 10px;
    border-radius: 6px;
}

.scrapedContent {
    border: 1px solid #e2e2e2;
    border-radius: 13px;
    width: 95%;
    margin: 15px auto;
    overflow: hidden;
}

.data .datatext {
    font-size: 1em;
}

a {
    color: #bb9602
}

img {
    width: 100%;
    height: auto;
}

.contentContainer {
    width: 97%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.spinner {
    width: 60px;
    display: block;
    margin: 0 auto;
}