body, div {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    word-break: break-word;
    box-sizing: border-box;
}

h2 {
    font-size: 1em;
}

h4, h3 {
    font-size: 0.7em;
    margin: 0;
}

span {
    font-size: 0.6em;
}

p {
    font-size: 0.7em;
}