
.headlinesContainer {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
}

.headlineCarousel {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    position: relative;
    height: 23vmax;
    margin-bottom: 10px;
}

.headline1 { 
    flex: 60%; 
    min-width: 600px;
}

.subHeadlineContainer {
    flex: 40%;
    display: flex;
    flex-flow: column nowrap;
    min-width: 300px;
}

.subHeadlineContainer div:first-child {
    flex: 60%;
}

.subHeadlineContainer div:nth-child(2) {
    flex: 40%;
}


@media (max-width: 768px) {
    .subHeadlineContainer {
        min-width: auto;
        flex-flow: column wrap;
        flex: 66%;
    }
    .subHeadlineContainer div:first-child {
        flex: 50%;
    }

    .subHeadlineContainer div {
        width: 100%;
        padding: 1vw;
    }

    .headline1 {
        flex: 33%;
        min-width: auto;
        margin: 1vw;
    }

    .headlineCarousel {
        height: 30vmax;
    }

}