.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    background-color: #171729;
}

.container > h1 {
    text-transform: lowercase;
}
.inputContainer {
    border-bottom: 3px solid white;
}

input[type="text"] {
    background-color: rgba(0,0,0,0);
    border: none;
    width: 400px;
    color: white;
    text-align: center;
    font-weight: 100;
    padding-bottom: 15px;
    font-size: 1.5em;
    letter-spacing: 3px;
    max-width: 62vw;
}

input[type="text"]::-webkit-input-placeholder  {
    -webkit-transition: opacity 0.3s linear; 
  }
  
  input[type="text"]:focus::-webkit-input-placeholder  {
    opacity: 0;
  }

input[type="text"]:focus {
    outline: none;
}

.exit {
    width: 100px;
}

.exitActive {
    width: 0;
    overflow: hidden;
    height: 70px !important;
    transition: width 400ms ease-in;
}

.enter {
    width: 0;
}

.enterActive {
    width: 100px;
    height: 70px !important;
    overflow: hidden;
    transition: width 400ms ease-in;
}

.inputContainer form {
    height: 70px;
    overflow: hidden;
    display: flex;
    width: auto;
    flex-flow: row wrap;
}

form button {
    height: 70px !important;
    width: 100px;
    background: none;
    border: none;
    color: white;
}

button img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.sourcesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1px;
    max-width: 1300px;
    width: 99%;
    margin-top: 50px;
}

.sourcesBtn {
    min-width: auto;
    transition: min-width 100ms linear;
    border: 3px solid white;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.filterForm {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start; */
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    max-width: 1300px;
    width: 99%;
}
fieldset {
    max-height: 250px;
    height: 250px;
    overflow-y: overlay;
}
.filterForm * {
    font-size: 0.8em;
}

.checkboxInputDiv {

}

.checkbox {

}

.categoryButton {
    background: white;
    border-radius: 0;
    padding: 30px;
    border: none;
    margin: 1px;
    cursor: pointer;
}