.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eae9e9;
    font-size: 16px;
    padding-top: 50px;
}

.ul {
    list-style: none;
    padding: 0 2vmax;
    margin: 0;
    width: 75vmax;
    margin-top: 30px;
}

.li {
    padding: 10px;
    margin: 1px 10px;
    background-color: whitesmoke;
    padding-top: 0;
    transition: background-color 50ms ease-in;
}

.li:hover {
    background-color: #eae9e9;
}