.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    padding-top: 50px;
    flex-flow: column wrap;
    color: white;
    word-wrap: break-word;
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    flex: 3;
    width: auto;
}

.li {
    padding: 10px;
    margin: 1px 0px;
    background-color: #212121;
    padding-top: 0;
    transition: background-color 50ms ease-in;
    width: auto;
}

.li:hover {
    background-color: #212121;
}

.headlinesContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 50vh;
    height: auto;
}

.headline1 { flex: 70%; }

.subHeadlineContainer {
    flex: 30%;
    display: flex;
    flex-flow: column nowrap;
    min-width: 390px;
}

.subHeadlineContainer div:first-child {
    flex: 60%;
}

.subHeadlineContainer div:nth-child(2) {
    flex: 40%;
}

.listContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 75vmax;
    max-width: 100%;
    flex: 10;
}

.listControlContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    max-width: 100%;
}

.buttonContainer {
    display: flex;
    width: auto;
    flex: 1;
    justify-content: center;
    position: relative;
}