.article span {
    font-size: 0.4em;
    text-transform: uppercase;
}

.article h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
}

.content p {
    font-size: 1.3em;
    font-weight: 100;
    margin: 0;
}

.headlineImg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.headlineArticle {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5em;
}

.headlineContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 2%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(19, 19, 19 ,0) 0%,rgb(19, 19, 19) 100%);
}

.img {
    width: auto !important;
    height: 150px;
    max-width: 100%;
    transition: height 100ms ease-in;
}

.imgContainer {
    overflow: hidden;
    width: auto;
    height: 100%;
    position: relative;
    margin-right: 1vmax;
    border-radius: 6px;
}

.content {
    order: 2;
    text-align: left;
    max-width: 50vw;
}

.article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    background-image: none !important;
    flex: 100%;
}

.contentContainer {
    flex: 100%;
    order: 3;
    transition: min-height 100ms ease-in;
    min-height: 0;
}

.contentContainerActive {
    min-height: 230px;
    transition: min-height 100ms ease-in;
}

.closeBtn {
    font-size: 2em !important;
    font-weight: lighter;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    z-index: 1;
}

@media (min-width: 769px) {
    .activeArticle {

    }
    
    .activeArticle img {
        height: 300px;
    }
}

@media (max-width: 710px) {
    .content {
        max-width: 100%;
        padding: 20px 10px;
    }
    .img {
        width: 100% !important;
        height: auto;
    }
    .imgContainer {
        margin: 0;
        border-radius: 0;
    }
}

.li {
    transition: background-color 50ms ease-in;
    width: auto;
    border-radius: 2px;
    color: black;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    padding: 15px 10px;
}

.li:first-child {
    margin-top: 0;
}

.li:hover {
    background-color: #477970;
    color: white;
}

.liHeadline {
    display: block;
    height: 100%;
}

@media (max-width: 710px) {
    .li {
        padding: 0 0 15px;
        -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.22); 
        box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.22);
        margin-bottom: 6vw;
    }
}

@media (max-width: 768px) {
    .headlineArticle {
        border-radius: 6px;
    }
    .headlineContent > h2 {
        display: none;
    }

    .activeLi {
        animation-duration: 300ms;
        animation-name: toggleButton;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
    }
    
    @keyframes toggleButton {
        0% {
            transform: scale(0.9);
        }
        25% {
            transform: scale(0.95);
        }
        50% {
            transform: scale(1.05);
        }
    }
}
